@model CustomerCategoryViewModel

@{
    ViewBag.PageTitle = " ویرایش     ";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<form action="@Url.Action("EditCustomerCategory", "Rule")" method="post" class="form-horizontal" id="RevokeReasonEditForm">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label class="control-label col-md-3 required" for="Name">عنوان</label>
        <div class="col-md-9">
            <input type="text" id="Name" name="Name" class="form-control" maxlength="500" value="@Model.Name" autocomplete="off" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 required" for="From">رتبه</label>
        <div class="col-md-9">
            <input type="text" id="From" name="From" class="form-control" maxlength="500" value="@Model.From" autocomplete="off" />
        </div>
    </div>
    
     <div class="form-group">
            <label class="control-label col-md-3 required" for="To">تا</label>
            <div class="col-md-9">
                <input type="text" id="To" name="To" class="form-control" maxlength="500" value="@Model.To" autocomplete="off" />
            </div>
        </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="ثبت" id="ConfirmButton" data-loading-text="در حال ثبت..." class="btn btn-success btn-lg" />
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">انصراف</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#RevokeReasonEditForm').validate({
            rules: {
                Title: { required: true, maxlength: 500 },
                Level: { required: true }
            },
            submitHandler: function (form) {
                var $button = $('#ConfirmButton', '#RevokeReasonEditForm');
                $button.button('loading');

                $(form).ajaxSubmit({
                    success: function (result) {
                        $button.button('reset');
                        $.processMessage(result);

                        if (result.success) {
                            $.closeModal('ok');
                        }
                    }, error: function (result) {
                        $button.button('reset');
                        $.processMessage(result);
                    }
                });

                return false;
            }
        });
    });
</script>