@model MessageDetailsViewModel
@using Microsoft.AspNet.Identity
@using Newtonsoft.Json
@using TES.Merchant.Web.UI.Functions

@{
    ViewBag.PageTitle = "جزئیات تیکت";
}

<div class="page-header">
    <div class="pull-left">
        <a class="btn btn-warning" href="@Url.Action("Index", "Message")">پشتیبانی</a>
        @if (
        
        (Model.StatusId == TES.Common.Enumerations.MessageStatus.Open.ToByte() )
        && (User.IsAcceptorsExpertUser() || User.IsAdmin()))
        {
            <button style="background-color: #969696;border: #969696"  class="btn btn-danger" data-message-id="@Model.Id" id="ChangeStatusToClosedButton">تغییر وضعیت به "بسته"</button>
            <button class="btn btn-success" style="background-color:  #9800ff;border:  #9800ff" data-message-id="@Model.Id" id="ChangeStatusToUnderReviewButton">تغییر وضعیت به "در حال بررسی"</button>
           
            
            @Html.DropDownList("UserId", (IEnumerable<SelectListItem>)ViewBag.UserList, "انتخاب نمایید", new { @class = "chosen-select chosen-rtl" })

            
        }
        else if ((User.IsMessageManagerUser() || User.IsAdmin()) && Model.StatusId == TES.Common.Enumerations.MessageStatus.Reject.ToByte()  )
        {
            <button  style="background-color:  #9800ff;border:  #9800ff" class="btn btn-success" data-message-id="@Model.Id" id="ChangeStatusToUnderReviewButton">تغییر وضعیت به "در حال بررسی"</button>
           
            
            @Html.DropDownList("UserId", (IEnumerable<SelectListItem>)ViewBag.UserList, "انتخاب نمایید", new { @class = "chosen-select chosen-rtl" })

        }
        else if (Model.StatusId == TES.Common.Enumerations.MessageStatus.UnderReview.ToByte() && (User.IsAcceptorsExpertUser() || User.IsAdmin()))
        {
            <button style="background-color: #969696;border: #969696"  class="btn btn-danger" data-message-id="@Model.Id" id="ChangeStatusToClosedButton">تغییر وضعیت به "بسته"</button>
        }

        @if ( (Model.StatusId == TES.Common.Enumerations.MessageStatus.Close.ToByte()  ) &&
              
              ( User.IsAdmin() || User.IsMessageManagerUser())
              )
        {
            <button class="btn btn-success" data-message-id="@Model.Id" id="ChangeStatusToOpenButton">تغییر وضعیت به "باز"</button>
                                                                                                                          
                                                                                                                          
        }
    </div>
    <p>
          <h1>
                جزئیات تیکت
                <small class="text-muted">
                    @if (string.IsNullOrEmpty(Model.ReviewerUserFullName))
                    {
                        <text>(@Model.UserFullName)</text>
                    }
                    else
                    {
                        <text>
                            (@Model.UserFullName - @Model.ReviewerUserFullName)
                        </text>
                    }
                </small>
            </h1>
    </p>
    <p>
          <h4>
               وضعیت : 
                
                    
                        <text> @Model.Status </text>
                    
               
            </h4>
    </p>
    <p>
        <h4>
            کد پیگیری : 
                
                    
            <text> @Model.GUID </text>
                    
               
        </h4>
    </p>
    @if (!string.IsNullOrEmpty(@Model.ExtraDataTopicValue))
    {
        <p>
            <h4>
                @Model.ExtraDataTopic   : 
                    
                        
                <text> @Model.ExtraDataTopicValue </text>
                        
                   
            </h4>
        </p>
    
    }
       <p>
            <h4>
                تلفن: 
                    
                        
                <text> @Model.Phone </text>
                        
                   
            </h4>
        </p>
    <p>
        <h4>
            موضوع : 
                    
                        
            <text> @Model.Subject </text>
                        
                   
        </h4>
         
         
    </p>
     <p>
            <h4>
                موضوع دوم : 
                        
                            
                <text> @Model.SecondSubject </text>
                            
                       
            </h4>
             
             
        </p>
        
    
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="right-bubble">
                  
                <div>
                    <h4>متن پیام:  </h4>
                    <p>@Model.Body</p>
                </div>
                <small style="margin-left: 10px;">@Model.CreationDate.ToPersianDateTime()</small> <small class="text-muted">@Model.CreationDate.ToRelativeDate()</small>
                <div style="margin-top: 6px;">
                    @foreach (var item in Model.Documents)
                    {
                        <a class="btn btn-default btn-sm" href="@Url.Action("GetDocument", "MessageDocument", new {id = item.Key})" target="_blank"><i class="fa fa-paperclip"></i> @item.Value</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <hr />

    @foreach (var item in Model.Replies.OrderBy(x => x.Id))
    {
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <b><i>@item.UserFullName:</i></b>
                    
                    <span style="line-height: 2;"  >@item.Body</span>  
                </div>
                <small style="margin-left: 10px;">@item.CreationDate.ToPersianDateTime()</small>
                <div style="margin-top: 6px;">
                    @foreach (var document in item.Documents)
                    {
                        <a class="btn btn-default btn-sm" href="@Url.Action("GetDocument", "MessageReplyDocument", new { id = document.Key })" target="_blank"><i class="fa fa-paperclip"></i> @document.Value</a>
                    }
                </div>
            </div>
        </div>

        <hr />
    }

    @if (Model.StatusId == MessageStatus.Close.ToByte())
    {
        <div class="alert alert-warning">
            <i class="fa fa-lock fa-lg" style="margin-left: 4px;"></i> این تیکت از تاریخ <b><i>@Model.LastChangeStatusDate.Value.ToLongPersianDateTime()</i></b> در حالت بسته شده قرار دارد و امکان ثبت پاسخ جدیدی در آن وجود ندارد
        </div>
    }
    else if (Model.StatusId == MessageStatus.Open.ToByte() && User.Identity.GetUserId<long>() != Model.UserId)
    {
        <div class="alert alert-warning">
            <i class="fa fa-lock fa-lg" style="margin-left: 4px;"></i> برای پاسخگویی به تیکت باید ابتدا وضعیت پیام را به حالت در حال بررسی در آورید
        </div>
    }
    else
    {
        <form action="@Url.Action("Create", "MessageReply")" method="post" class="form-horizontal" id="frmSendMessage" enctype="multipart/form-data">
            <textarea class="form-control" id="Body" name="Body" placeholder="متن پاسخ"></textarea>

            <br />
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file" tabindex="6"><span class="fileinput-new">انتخاب فایل</span><span class="fileinput-exists">انتخاب فایل</span><input type="file" id="PostedFiles" name="PostedFiles" multiple accept=".jpg,.jpeg,.pdf,.docx,.png"></span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
            <br />
            <button id="btnConfirm" class="btn btn-success" type="submit" data-loading-text="در حال ارسال...">ارسال</button>
        </form>
    }
</div>

@section scripts {
    @BundleConfig.AddScripts("~/bundles/messageDetailsScripts",
        "~/Scripts/jquery.form.js",
        "~/Scripts/jquery.modal.js",
        "~/Scripts/jquery.validate.js",
        "~/Scripts/jquery.validation-extensions.js",
        "~/Scripts/jquery.validation-messages.fa.js",
        "~/Scripts/jquery.confirm.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ChangeStatusToUnderReviewButton').on('click', function () {
                var $button = $(this);
 
                let vava  = $('#UserId').val();
                if (vava === '')
                    {
                                $.showConfirm({
                                             body: 'انتخاب یک کارشناس پذیرنده الزامی می باشد',
                                           
                                            onConfirm: function () {
                                              
                                            }
                                        });
                        return 0;
                        }
                
                
                $.showConfirm({
                     body: 'آیا نسبت به تغییر وضعیت تیکت به حالت "در حال بررسی" مطمئن هستید؟',
                   
                    onConfirm: function () {
                        $button.button('loading');

                        $.post('@Url.Action("ChangeStatus", "Message")',
                         {
                            messageId: $button.data('message-id'),
                         statusId: '@TES.Common.Enumerations.MessageStatus.UnderReview.ToByte()',
                         UserId : $('#UserId').val()
                       
                         }
                         
                         ).done(function (result) {
                            $.processMessage(result);
                            $button.button('reset');

                            if (result.success) {
                                window.location.reload();
                            }
                        });
                    }
                });
            });

            $('#ChangeStatusToClosedButton').on('click', function () {
                var $button = $(this);

                $.showConfirm({
                    body: 'آیا نسبت به تغییر وضعیت تیکت به حالت "بسته" مطمئن هستید؟',
                    onConfirm: function () {
                        $button.button('loading');

                        $.post('@Url.Action("ChangeStatus", "Message")', { messageId: $button.data('message-id'), statusId: '@TES.Common.Enumerations.MessageStatus.Close.ToByte()' }).done(function (result) {
                            $.processMessage(result);
                            $button.button('reset');

                            if (result.success) {
                                window.location.reload();
                            }
                        });
                    }
                });
            });

            $('#ChangeStatusToOpenButton').on('click', function () {
                var $button = $(this);

                $.showConfirm({
                    body: 'آیا نسبت به تغییر وضعیت تیکت به حالت "باز" مطمئن هستید؟',
                    onConfirm: function () {
                        $button.button('loading');

                        $.post('@Url.Action("ChangeStatus", "Message")', { messageId: $button.data('message-id'), statusId: '@TES.Common.Enumerations.MessageStatus.Open.ToByte()' }).done(function (result) {
                            $.processMessage(result);
                            $button.button('reset');

                            if (result.success) {
                                window.location.reload();
                            }
                        });
                    }
                });
            });

            $('#frmSendMessage').validate({
                rules: {
                    Body: { required: true }
                },
                submitHandler: function (form) {
                    var $button = $('#btnConfirm', '#frmSendMessage');
                    $button.button('loading');

                    $(form).ajaxSubmit({
                        data: { messageId: @Model.Id },
                        success: function (result) {
                            $button.button('reset');
                            $.processMessage(result);

                            if (result.success) {
                                window.location.reload();
                            }
                        }, error: function (result) {
                            $button.button('reset');
                            $.processMessage(result);
                        }
                    });
                }
            });
        });
    </script>
}