@using Microsoft.AspNet.Identity
@model ChangeAccountRequestViewModel

@{
    ViewBag.PageTitle = "درخواست تغییر حساب";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<form action="@Url.Action("Create", "ChangeAccountRequest")" method="post" class="form-horizontal" id="ChangeAccountRequestCreateForm" enctype="multipart/form-data">
    <input type="hidden" id="TerminalNo" name="TerminalNo" value="@Model.TerminalNo" />
    <input type="hidden" id="PspId" name="PspId" value="@Model.PspId" />
    
    <div class="form-group">
        <div class="col-sm-12">
            <a class="btn btn-info pull-left btn-block" target="_blank" href="~/Download/Request.pdf"><i class="fa fa-download"></i> دریافت فرم درخواست تغییر حساب</a>    
        </div>
    </div>
    
    <hr />

    <div class="form-group">
        <label class="control-label col-sm-4">شعبه حساب</label>
        <div class="col-sm-8">
            <p class="form-control-static">
                @Model.CurrentBranchTitle
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4">شماره حساب فعلی</label>
        <div class="col-sm-8">
            <p class="form-control-static monospaced-number">
                @Model.CurrentAccountNo
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4 required">شماره حساب جدید</label>
        <div class="col-md-8">
            <input type="text" class="form-control account-number text-center only-number" data-order="4" style="width: 60px; max-width: 60px; min-width: 60px; display: inline;" id="AccountRow" name="AccountRow" maxlength="3" data-toggle="tooltip" title="ردیف (3 رقم)" tabindex="5" autocomplete="off" />
            <input type="text" class="form-control account-number text-center only-number   "  accept="" data-order="3" style="width: 100px; max-width: 100px; min-width: 100px; display: inline;" id="AccountCustomerNumber" name="AccountCustomerNumber" maxlength="8" data-toggle="tooltip" title="شماره مشتری (8 رقم)" tabindex="4" value="@Model.AccountCustomerNumber" autocomplete="off" />
            <input type="text" class="form-control account-number text-center only-number" data-order="2" style="width: 55px; max-width: 55px; min-width: 55px; display: inline;" id="AccountType" name="AccountType" maxlength="3" data-toggle="tooltip" title="نوع حساب (3 رقم)" tabindex="3" autocomplete="off" />
            <input type="text" class="form-control account-number text-center only-number  "  data-order="1" style="width: 60px; max-width: 60px; min-width: 60px; display: inline;" id="AccountBranchCode" name="AccountBranchCode" maxlength="4" data-toggle="tooltip" title="کد شعبه (4 رقم)" tabindex="2" value="@Model.AccountBranchCode" autocomplete="off" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-4 required" for="PostedFile">فایل درخواست</label>
        <div class="col-md-8">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file" tabindex="6"><span class="fileinput-new">انتخاب فایل</span><span class="fileinput-exists">انتخاب فایل</span><input type="file" id="PostedFile" name="PostedFile" accept="@(Model.PspId == PspCompany.Parsian.ToInt64() ? ".jpg, .jpeg" : ".pdf")"></span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
            <small class="help-block">@(Model.PspId == PspCompany.Parsian.ToInt64() ? "فایل با فرمت .jpg یا .jpeg" : "فایل با فرمت .pdf")</small>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <button id="ConfirmButton" type="submit" class="btn btn-success btn-lg" data-loading-text="درحال ثبت...">ثبت</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">انصراف</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.only-number', '#ChangeAccountRequestCreateForm').filter_input({ regex: '[0-9]' });

        $('#BranchId', '#ChangeAccountRequestCreateForm').chosen({ width: "100%" });

 var myBoolValue = @User.IsChangeAccountAdmin().ToString().ToLower();
  
        if ( !myBoolValue)
        {
        $('#AccountBranchCode').prop('readonly', true);
        $("#AccountBranchCode").addClass("disabled");
        $('#AccountCustomerNumber').prop('readonly', true);
        $("#AccountCustomerNumber").addClass("disabled");
        }
        $('#BranchId', '#ChangeAccountRequestCreateForm').on('change', function () {
            if ($(this).val()) {
                $('#AccountBranchCode', '#ChangeAccountRequestCreateForm')
                    .attr('readonly', 'readonly')
                    .addClass('disabled')
                    .val($(this).val());
            }
        });

        $('input.account-number').keyup(function () {
            if ($(this).val().length == $(this).attr('maxlength')) {
                var order = $(this).data('order');
                $('input.account-number[data-order="' + (order + 1) + '"]').focus();
            }
        });

        $('.chosen-select', '#ChangeAccountRequestCreateForm').on('change', function () {
            $(this).valid();
        });

        $('#ChangeAccountRequestCreateForm').validate({
            ignore: ':hidden:not(select)',
            rules: {
                AccountRow: { required: true, digits: true, maxlength: 3 },
                AccountType: { required: true, digits: true, maxlength: 3 },
                PostedFile: {
                    required: {
                        depends: function () {
                            return $('#PspId', '#ChangeAccountRequestCreateForm').val() == '@PspCompany.IranKish.ToInt32()' || $('#PspId', '#ChangeAccountRequestCreateForm').val() == '@PspCompany.Parsian.ToInt32()';
                        }
                    }
                }
            }, messages: {
                AccountRow: '',
                AccountType: ''
            },
            submitHandler: function (form) {
                var $button = $('#ConfirmButton', '#ChangeAccountRequestCreateForm');
                $button.button('loading');

                var accountNumber = $('#AccountBranchCode', '#ChangeAccountRequestCreateForm').val() + '-' + $('#AccountType', '#ChangeAccountRequestCreateForm').val() + '-' + $('#AccountCustomerNumber', '#ChangeAccountRequestCreateForm').val() + '-' + $('#AccountRow', '#ChangeAccountRequestCreateForm').val();

                $.post('@Url.Action("VerifyAccountNumber", "MerchantProfile")', { accountNumber: accountNumber }, function (result) {
                    $.processMessage(result);

                    if (result.success) {
                        $.showConfirm({
                            body: '<strong>شماره حساب:</strong> <span dir="ltr">' + convertToPersianNumbers(accountNumber) + '</span><br/><br/>' + '<strong>شماره شبا:</strong> <span>' + convertToPersianNumbers(result.data.shebaNumber) + '</span><br/><br/>' + '<strong>نام صاحب حساب:</strong> <span>' + result.data.ownerFullName + '</span>',
                            onConfirm: function () {
                                $(form).ajaxSubmit({
                                    success: function (result) {
                                        $button.button('reset');
                                        $.processMessage(result);

                                        if (result.success) {
                                            $.closeModal('ok');
                                        }
                                    }, error: function (result) {
                                        $button.button('reset');
                                        $.processMessage(result);
                                    }
                                });

                                return false;
                            },
                            onCancel: function () {
                                $button.button('reset');
                            }
                        });
                    }
                    else {
                        $button.button('reset');
                    }
                });
            }, errorPlacement: function (error, element) {
                if (element.is('select.chosen-select')) {
                    element.next('div.chosen-container').append(error);
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>