
@{
    ViewBag.Title = "گزارش سود و زیان";
}

<h2>گزارش شبا و حساب</h2>



<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label col-md-4" for="Year">سال</label>
            <div class="col-md-8">
                <select id="Year" name="Year" class="form-control">
                    @for (int i = DateTime.Now.GetPersianYear(); i >= 1395; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label col-md-4" for="Month">ماه</label>
            <div class="col-md-8">
                <select id="Month" name="Month" class="form-control">
                    <option selected value="">انتخاب نمایید</option>
                    <option value="1">فروردین</option>
                    <option value="2">اردیبهشت</option>
                    <option value="3">خرداد</option>
                    <option value="4">تیر</option>
                    <option value="5">مرداد</option>
                    <option value="6">شهریور</option>
                    <option value="7">مهر</option>
                    <option value="8">آبان</option>
                    <option value="9">آذر</option>
                    <option value="10">دی</option>
                    <option value="11">بهمن</option>
                    <option value="12">اسفند</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-2">

        <button id="ShowData" type="button" class="btn btn-success" data-loading-text="در حال ثبت..."> نمایش اطلاعات </button>
    </div>

</div>
<br />
<form enctype="multipart/form-data" action="@Url.Action("ReportShebaAccount", "Report")" method="post" id="MerchantProfileImportForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadPardakhtFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل پرداخت نوین</button>

                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadIrankishFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل ایران کیش   </button>
                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadParsianFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل پارسیان  </button>

                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadFanavaFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل فن آوا</button>
                </div>



            </div>
        </div>


    </div>

    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadTransactionPardakhtFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل تراکنش پرداخت نوین</button>

                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadTransactionIrankishFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل تراکنش ایران کیش   </button>
                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadTransactionParsianFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل تراکنش پارسیان  </button>

                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <button id="UploadTransactionFanavaFilebtn" type="button" class="btn btn-success" data-loading-text="در حال ثبت...">بارگذاری فایل تراکنش فن آوا</button>
                </div>



            </div>
        </div>


    </div>

    <br />


    <div class="col-md-12">
        <div class="form-group">

            <div class="container">
                <div class="row">

                    <div class="col-sm-1">
                        شماره شبا
                    </div>

                    <div class="col-sm-1">
                        شماره حساب
                    </div>
                </div>
            </div>





        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">

            <div class="container" id="tblData">
                <div class="col-md-12" id="tblDataBody">در حال بارگذاری</div>
            </div>
        </div>
    </div>

    <div class="table-responsive hidden" id="ErrorsSection">
    </div>
</form>

@section scripts {
    @BundleConfig.AddScripts("~/bundles/merchantProfileImportScripts",
        "~/Scripts/jasny-bootstrap.js", "~/Scripts/jquery.confirm.js", "~/Scripts/jquery.form.js"
        ,
        "~/bundles/terminalManageScripts",
        "~/Scripts/jquery.twbsPagination.js",
        "~/Scripts/jquery.form.js",
        "~/Scripts/PersianDatePicker.js",
        "~/Scripts/jquery.modal.js",
        "~/Scripts/jquery.validate.js",
        "~/Scripts/jquery.validation-extensions.js",
        "~/Scripts/jquery.validation-messages.fa.js",
        "~/Scripts/jquery.filter_input.js",
        "~/Scripts/jquery.confirm.js",
        "~/Scripts/jasny-bootstrap.js",
        "~/Scripts/chosen.jquery.js",
        "~/Scripts/addressCreator.js"
        )

    <script type="text/javascript">

        function loadData(retriveTotalPageCount, page, upId) {
                    $('#tblData').empty();

                    if (retriveTotalPageCount) {
                        var pagingData = $('#Pagination').data('twbs-pagination');
                        if (pagingData) $('#Pagination').twbsPagination('destroy');
                        $('#SearchButton').removeData('total-pages');
                    }

                    var $button = $('#SearchButton');
                    $button.button('loading');



                    return $.post('@Url.Action("GetUploadTerminalValidationData", "Terminal")', {
                        Year:  $("#Year").val(),


                    }).done(function (result) {
                        $button.button('reset');
                        $('#ResultSection').empty();
                        var html = '';

                        $('#SearchButton').data('total-pages', result.data.totalRowsCount);

                        if (!result.success) {
                            $('#ResultSection').empty().append('<div class="status-section"><i class="fa fa-frown-o"></i><p>خطا در بارگذاری اطلاعات</p></div>');
                            return false;
                        }


                        if (result.data.rows.length === 0) {
                            $('#tblDataBody').empty().append('' +
                                     '' +
                                '<td colspan="8"><div   class="status-section"><i class="fa fa-folder-o"></i><p>هیچ موردی یافت نشد</p></div></td>');
                            return false;
                        }

                        if (result.data.totalRowsCount > 0) {
                            $('#SearchButton').data('total-pages', result.data.totalRowsCount);

                            $('#Pagination').twbsPagination({
                                totalPages: Math.ceil(result.data.totalRowsCount / 20),
                                visiblePages: 7,
                                last: '<i class="fa fa-fast-backward"></i>',
                                next: '<i class="fa fa-backward"></i>',
                                prev: '<i class="fa fa-forward"></i>',
                                first: '<i class="fa fa-fast-forward"></i>',
                                initiateStartPageClick: false,
                                onPageClick: function (event, page) {
                                    loadData(false, page);
                                }
                            });
                        }



                        html = '';

                        console.log('xcvxcvxcvzxcvzxvc', result.data.rows);
                           for (let i = 0; i < result.data.rows.length; i++) {


                                                            var item = result.data.rows[i];


                                                            html += '<div class="row" data-terminal-id="' + item.terminalId + '" data-status-id="' + item.statusId + '">' +

                         '   <div class="col-sm-1" style=" background: #eaeaff;  margin: auto;    padding: 10px;height:40px"> ' + ( item.shebaId   ) + '</div>'
                         '   <div class="col-sm-1" style=" background: #eaeaff;  margin: auto;    padding: 10px;height:40px"> ' + (  item.AccountNumber  ) + '</div>'

                              ;
                                                                                  html += ' </div>';

                                                        }
                                              $('#tblData').empty().append(html);


                    });
                }




        $(document).ready(function () {


              loadData(true, 1,1);

               $('.date-picker').on('click', function () {
                        PersianDatePicker.Show(this, '@DateTime.Now.ToPersianDate()', true);
                    });


                  $('#ShowData').on('click', function (e) {
                                       loadData(true, 1,1);

                  });



            $('#UploadPardakhtFilebtn').on('click', function (e) {
               

                let $button = $('#UploadPardakhtFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();

            
                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");                  
                } else {
                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadPardakhtFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                   // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });

                            $button.button('loading');

                            return false;
                        }
                    });
                }
            });

            $('#UploadIrankishFilebtn').on('click', function (e) {


                let $button = $('#UploadIrankishFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();
                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");
                } else {

                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadIrankishFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                    // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });



                            $button.button('loading');

                            return false;
                        }
                    });
                }
                });


            $('#UploadParsianFilebtn').on('click', function (e) {


                let $button = $('#UploadParsianFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();
                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");
                } else {

                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadParsianFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                    // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });



                            $button.button('loading');

                            return false;
                        }
                    });
                }
            });

            $('#UploadFanavaFilebtn').on('click', function (e) {


                let $button = $('#UploadFanavaFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();
                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");
                } else {

                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadFanavaFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                    // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });



                            $button.button('loading');

                            return false;
                        }
                    });
                }
            });

            ///////////transaction Files

            $('#UploadTransactionPardakhtFilebtn').on('click', function (e) {


                let $button = $('#UploadTransactionPardakhtFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();


                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");
                } else {
                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadTransactionPardakhtFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                    // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });

                            $button.button('loading');

                            return false;
                        }
                    });
                }
            });

            $('#UploadTransactionIrankishFilebtn').on('click', function (e) {


                let $button = $('#UploadTransactionIrankishFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();
                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");
                } else {

                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadTransactionIrankishFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                    // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });



                            $button.button('loading');

                            return false;
                        }
                    });
                }
            });


            $('#UploadTransactionParsianFilebtn').on('click', function (e) {


                let $button = $('#UploadTransactionParsianFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();
                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");
                } else {

                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadTransactionParsianFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                    // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });



                            $button.button('loading');

                            return false;
                        }
                    });
                }
            });

            $('#UploadTransactionFanavaFilebtn').on('click', function (e) {


                let $button = $('#UploadTransactionFanavaFilebtn');


                var Year = $("#Year").val();
                var Month = $("#Month").val();
                if (Month.length == 0) {
                    alert("لطفا مقدار ماه را انتخاب نمایید");
                } else {

                    $.showConfirm({
                        onConfirm: function () {
                            let interval = setInterval(function () {
                                toastr.info('اطلاعات در حال ثبت می‌باشد. توجه نمایید که با توجه به حجم اطلاعات ممکن است مدت زمان زیادی برای ثبت صرف شود. لطفاً صبور باشید...');
                            }, 12000);

                            $.ajax({
                                url: '/Report/UploadTransactionFanavaFile?year=' + Year + "&month=" + Month,
                                type: "POST",
                                async: true,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data

                                success: function (result) {
                                    clearInterval(interval);
                                    alert("عملیات با موفقیت انجام شد");
                                    $button.button('reset');
                                },
                                error: function (err) {
                                    // alert("error=" + err + " " + err.val);
                                    alert("خطای در بارگزاری اطلاعات");
                                    $button.button('reset');
                                    clearInterval(interval);
                                }
                            });



                            $button.button('loading');

                            return false;
                        }
                    });
                }
            });


        });

    </script>
}